{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% leaflet_js %}
  {% leaflet_css %}
  <meta charset="utf-8">
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
    }
  </style>

  <style>
    #map {
      width: 800px;
      height: 500px;
    }
  </style>
  <script type="text/javascript" src="{% static 'pluma/js/leaflet.ajax.js' %}">
  </script>
</head>

<body>

  <div id="map">
    <h1>Prueba Iteraccion Rutas</h1>
    <script type="text/javascript">
      function our_layers(map, options) {

        function estiloCircleMarker(feature, latlng) {
          return L.circleMarker(latlng, {
            radius: 5.0,
            fillColor: 'yellow',
            color: '#000000',
            weight: 2,
            opacity: 1.0,
            fillOpacity: 1.0
          })
        }

        var puntos = new L.GeoJSON.AJAX("{% url 'cargar_puntos' %}", {
          pointToLayer: estiloCircleMarker
        });
        puntos.addTo(map);
      }
    </script>
  </div>
  {% leaflet_map "puntos" callback="window.our_layers" %}
</body>

</html>
