{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Load Files</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
  <link href="{% static 'pluma/css/styles.css' %}" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <script src="{% static 'pluma/js/scripts.js' %}"></script>
</head>

<body>
  {% include 'pluma/navbar.html' %}

  {% block content %}
  {%endblock%}
  <div class="container-fluid text-center menu-section" id="menu">
    <div class="container d-flex h-80 align-items-center">
      <div class="mx-auto text-center text-white">
        <h1>Please load this files:</h1>
        <div style="width: 1000px; height: 2000px;">
          {% if form %}
          <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</body>

</html>
