{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% leaflet_js %}
  {% leaflet_css %}
  <meta charset="utf-8">
  <title> Corrida 1</title>
  <style>
    #map {
      width: 100%;
      height: 600px
    }

    .leaflet-container-default {
      min-height: 600px;
    }

    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: black;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      text-align: left;
      line-height: 18px;
      color: #555;
    }

    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  </style>
  <script type="text/javascript" src="{% static 'pluma/js/leaflet.ajax.js' %}">
  </script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
  <link href="{% static 'pluma/css/styles.css' %}" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <script src="{% static 'pluma/js/scripts.js' %}"></script>
</head>

<body>
  {% include 'pluma/navbar.html' %}

  {% block content %}
  {%endblock%}
  <div class="container-fluid text-center menu-section" id="menu">
    <div class="container d-flex h-80 align-items-center">
      <div class="mx-auto text-center text-white">
        <h1>Corrida 1</h1>
        <p>Ejecuciòn de archivo: {{filename}} </p>
        <div style="width: 1000px; height: 2000px;">
          {% leaflet_map "nube" callback="window.our_layers1" %}

          <a href="{% url 'generate_pdf' %}" class="btn btn-warning">Generar PDF</a>
        </div>

      </div>
    </div>
  </div>
  <br>

  <script type="text/javascript">
    function our_layers1(map, options) {
      var pluma = new L.GeoJSON.AJAX("{% url 'cargar_pluma' %}", {
        style: function(feature) {
          switch (feature.properties.capa) {
            case 1:
              return {
                color: "#ff5733"
              };
            case 2:
              return {
                color: "#b8ff33"
              };
            case 3:
              return {
                color: "#3399ff"
              };
            case 4:
              return {
                color: "#8509b3"
              };
            case 2:
              return {
                color: "#09b309"
              };
          }
          return {
            color
          };
        }
      });
      pluma.addTo(map);
      var myStyle = function(feature) {
        switch (feature.properties.afectado) {
          case 0:
            return {
              color: "#cb0404"
            };
          case 1:
            return {
              color: "#040404"
            };
          case 2:
            return {
              color: "#00cc00"
            };
        }
        return {
          color
        };
      };
      var info = L.control();

      info.onAdd = function(map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
      };

      info.update = function(props, geom) {
        this._div.innerHTML = '<h4> Ruta:</h4>' + (props ?
          '<b>' + props.name + '</b><br />' + 'Cooordenas: <p>' + geom.coordinates + '</p>' :
          'Seleccione una Ruta');
      };

      info.addTo(map);

      function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
          weight: 5,
          color: '#b8ff33',
          dashArray: '',
          fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
          layer.bringToFront();
        }

        info.update(layer.feature.properties, layer.feature.geometry);
      }
      var rutas;

      function resetHighlight(e) {
        rutas.resetStyle(e.target);
        info.update();
      }

      function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
      }

      function onEachFeature(feature, layer) {
        layer.on({
          mouseover: highlightFeature,
          mouseout: resetHighlight,
          click: zoomToFeature
        });
      }
      rutas = new L.GeoJSON.AJAX("{% url 'test_ruta' %}", {
        style: myStyle,
        onEachFeature: onEachFeature
      });
      rutas.addTo(map);

      function estiloCircleMarker(feature, latlng) {
        return L.circleMarker(latlng, {
          radius: 5.0,
          fillColor: 'yellow',
          color: '#000000',
          weight: 3,
          opacity: 1.0,
          fillOpacity: 1.0
        })
      }

      var puntos = new L.GeoJSON.AJAX("{% url 'cargar_puntos' %}", {
        pointToLayer: estiloCircleMarker
      });
      puntos.addTo(map);
    }
  </script>
</body>

</html>
